<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bar_Flat" version="1.0.0" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.742.0" targetFramework="win" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="12.742.0" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.742.0" targetFramework="win" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.742.0" targetFramework="win" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.RecipeManagement" version="12.742.0" />
  <package id="Beckhoff.TwinCAT.HMI.SqliteHistorize" version="12.742.0" />
  <package id="Gauge_Flat_Circle" version="1.0.0" targetFramework="native1.12-tchmi" />
  <package id="Gauge_Flat_SemiCircle" version="1.0.0" targetFramework="native1.12-tchmi" />
</packages>